* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.cont-header {
    width: 45%;
    height: 70px;
    display: flex;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-content {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
}

.li-nav {
    width: 25%;
    list-style: none;
}

.right-content {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-header {
    background-color: blue;
    color: white;
}

.bg-color {
    background-color: #b4d0e7;
}


.first-section {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1200px;
    height: 500px;
    
}

.small-container {
    min-width: 600px;
    height: 25%;
}

h1 {
    font-size: 50px;
}

.big-container {
    height: 75%;
    width: 1200px;
    position: relative;
    display: flex;
}

.text {
    width: 40%;
}

p {
    padding-bottom: 30px;
    padding-top: 30px;
}

.img {
    width: 60%;
}

.img-size {
    width: 900px;
}

#button-main {
    background-color: blue;
    padding: 10px;
    color: white;
}

.text2 {
    padding-top: 30px;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
}

.second-section {
    width: 1000px;
    min-height: 100px;
    margin: 0 auto;
}

.title {
    height: 70px;
    margin-top: 150px;
}

.choice {
    height: 70px;
    margin-top: 30px;
}

.column {
    width: calc(95% / 3);
    min-height: 700px;
    border: solid gray 1px;
}

.third-section {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    min-height: 100px;
    margin: 120px auto;
}

.upper-column {
    height: 50px;
    text-align: center;
    border-bottom: solid gray 1px;
    padding-top: 15px;
}

.lower-column {
    text-indent: 30px;
}

.list-column {
    margin-top: 30px;
}

.item-column {
    list-style: none;
    padding-top: 20px;
    margin-bottom: 30px;
}

.button {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy {
    margin-top: 30px;
}

.hr {
    width: 50px;
    border-bottom: solid gray 1px;
    margin-left: 30px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.info-column {
    padding-top: 40px;
}

.row {
    height: 200px;
    width: 1000px;
    border: solid gray 1px;
    margin: 120px auto;
}

.upper-row {
    height: 50px;
    border-bottom: solid gray 1px;
    text-align: center;
    padding-top: 15px;
}

.lower-row {
    text-indent: 30px;
    padding-top: 30px;
    position: relative;
}

.special-button {
    position: absolute;
    right: 20px;
    top: 0px; 
}

.section4 {
    min-height: 500px;
    width: 1000px;
    margin: 120px auto;
    display: flex;
}

.left-box {
    width: 70%;
}

.img-size2 {
    width: 600px;
}

.right-box {
    width: 30%;
}

.partner {
    color: black;
    border: solid black 1px;
    padding: 7px;
    background-color: white;
}

.section5 {
    width: 1000px;
    height: 900px;
    margin: 120px auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 3);
    height: 400px;
    padding: 20px;
}

.img-cards {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: contain;
}

.section6 {
    width: 1000px;
    height: 300px;
    margin: 120px auto;
}

.client {
    padding-top: 100px;
    text-decoration: underline;
}

.section7 {
    height: 500px;
    display: flex;
}

.img-container {
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.mini-img-container {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    

.mini-img {
    width: 80%;
}

.central-img {
    width: 200px;
    border-bottom: gray solid 1px;
}

.section8 {
    background-color: #b4d0e7;
    height: 300px;
}

.container8 {
    width: 1000px;
    height: 300px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.text8 {
    width: 50%;
    height: 100px;
}

.white-button {
    background-color: white;
    color: black;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    
}

.button8 {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.section9 {
    width: 1000px;
    height: 700px;
    margin: 120px auto;
}

.title9{
    border-bottom: solid gray 1px;
    height: 150px;
}

.faq {
    height: 100px;
    border-bottom: solid gray 1px;
    display: flex;
}

.faq-content {
    width: 70%;
    height: 100px;
    justify-content: flex-start;
    align-items: center; 
    display: flex;
}

.faq-content2 {
    width: 30%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

footer {
    background-color: black;
    height: 600px;
}

.footer-container {
    width: 1200px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    color: white;
}

.lang {
    height: 50px;
    width: 1200px;
    margin: 0 auto;
    color: white;
}

.footer-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-column {
    width: 20%;
    padding-top: 20px;
}

.footer-h {
    font-size: 30px;
    padding-bottom: 40px;
}

.footer-column > ul li {
    list-style: none;
    padding-bottom: 20px;
}




